main {
    width: 100%;
    position: absolute;
}

img {
    display: block;
    max-width: 60%;
    margin: auto;
}

video {
    background-color: black;
    border-radius: 10px;
}

p {
    text-align: center;
    font-family: quasimoda-2, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 400;
    color: black;
    margin: 70px;
    margin-top: 10px;
    margin-bottom: 40px;
}

h1 {
    font-size: 4.2375rem;
    text-align: center;
    font-family: quasimoda-2, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-style: normal;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-family: quasimoda-2, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 100;
    color: white;
}

em {
    color: blue;
}

button {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(177, 185, 194)), to(rgb(63, 64, 66)));
    background-image: -webkit-linear-gradient(top, rgb(177, 185, 194), rgb(63, 64, 66));
    background-image: -moz-linear-gradient(top, rgb(177, 185, 194), rgb(63, 64, 66));
    background-image: linear-gradient(to bottom, rgb(177, 185, 194), rgb(63, 64, 66));
    color: white;
    border-radius: 50px;
    padding: .75rem;
    box-shadow: 5px 5px 10px black;
    font-family: quasimoda-2, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
}

button:focus {
    outline: 0;
}

button:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(190, 212, 234)), to(rgb(32, 53, 95)));
    background-image: -webkit-linear-gradient(top, rgb(190, 212, 234), rgb(32, 53, 95));
    background-image: -moz-linear-gradient(top, rgb(190, 212, 234), rgb(32, 53, 95));
    background-image: linear-gradient(to bottom, rgb(190, 212, 234), rgb(32, 53, 95));
}

a {
    color: inherit;
    color: white;
    text-decoration: none;
    font-family: quasimoda-2, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
}

a:hover {
    color: rgb(163, 159, 157);
}

footer {
    background-color: black;
    height: 2.75em;
    max-width: 100%;
    margin-top: calc(64% - 2.75em);
}

.footerExpanded {
    margin-top: calc(87% - 2.75em);
}

ul {
    margin: 20px;
    margin-top: 0px;
    margin-left: 80px;
    column-count: 2;
    list-style-type: none;
}

li {
    color: white;
    font-family: quasimoda-2, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-style: normal;
    font-weight: 400;
}

.whoAmI {
    display: block;
    margin: auto;
    margin-top: 3rem;
}

.items {
    color: white;
    width: 60%;
    margin: auto;
    margin-top: 6rem;
    background-color: black;
}

.hobbies {
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(183, 183, 183)), to(rgb(33, 34, 43)));
    background-image: -webkit-linear-gradient(top, rgb(183, 183, 183), rgb(33, 34, 43));
    background-image: -moz-linear-gradient(top, rgb(183, 183, 183), rgb(33, 34, 43));
    background-image: linear-gradient(to bottom, rgb(183, 183, 183), rgb(33, 34, 43));
    max-width: 61%;
    display: block;
    margin: auto;
    margin-top: -60px;
    z-index: 9999;
    border-radius: 50px;
    border: 2px solid rgb(253, 254, 255);
    box-shadow: 5px 5px 10px black;
    padding: 10px;
}

.hobbies video {
    max-width: 350px;
}

.hobbies p {
    margin: 0px;
    text-align: center;
    margin-top: .1875rem;
    font-size: .75rem;
    color: rgb(252, 249, 249);
}

.generalDescription {
    height: 595px;
}

.alexa {
    width: 100%;
    height: 23.5rem;
    margin-top: 2rem;
    background-color: rgb(255, 255, 255);
}

.alexa a {
    color: black;
    /* font-style: italic;
    text-decoration: underline; */
}

.alexa a:hover {
    color: white;
}

.projects {
    margin-top: 5%;
    background-color: gainsboro;
    height: 65em;
    padding-top: 1.25em;
}

.projectsExpanded {
    height: 1350px;
}

.projectDetails {
    margin-top: 3%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(183, 183, 183)), to(rgb(33, 34, 43)));
    background-image: -webkit-linear-gradient(top, rgb(183, 183, 183), rgb(33, 34, 43));
    background-image: -moz-linear-gradient(top, rgb(183, 183, 183), rgb(33, 34, 43));
    background-image: linear-gradient(to bottom, rgb(183, 183, 183), rgb(33, 34, 43));
    border-radius: 20px;
    /* border: 2px solid rgb(253, 254, 255); */
    border: 2px solid gainsboro;
    box-shadow: 5px 5px 10px black;
    padding: 10px;
}

.projectDetails p {
    color: white;
    text-align: left;
    margin-bottom: 10px;
}

.projectDiv {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    margin-left: 0px;
    margin-top: 42px;
    width: 50%;
    text-align: left;
}

.videoContainer video {
    max-width: 100%;
}

.videoContainer {
    margin: 1%;
    margin-top: 4%;
    margin-left: 8%;
    max-width: 24%;
    margin-bottom: 0px;
    display: inline-block;
    color: white;
}

.videoDiv {
    max-width: 100%;
    position: relative;
    transition: .3s;
}

.videoDiv :not(video) {
    position: absolute;
    top: 40%;
    z-index: 1;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: .3s;
}

.videoDiv a {
    position: absolute;
    color: white;
    text-decoration: none;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    margin-left: -180px;
}

.videoDiv:hover video {
    filter: blur(2px) brightness(60%);
}

.videoDiv:hover :not(video) {
    opacity: 1;
}

#newspaperPic {
    width: 20%;
    border: 1px solid lightgrey;
    border-radius: 15px;
}

#hobbiesButton {
    max-width: 26rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
}

#building {
    max-width: 26%;
    margin: 23px;
}

#parentingPic {
    max-width: 23%;
    margin: 20px;
    margin-left: 2.3%;
}

#building,
#parentingPic {
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    display: inline-block;
}

#alexaImg {
    width: 10%;
    position: inherit;
    margin: 10px;
    margin-top: 40px;
    margin-left: 46%;
    vertical-align: middle;
    border: 1px solid lightgrey;
    border-radius: 15px;
    display: inline-block;
}

#alexaDescription {
    margin-bottom: 10px;
    color: black;
}

#alexaDescription a {
    color: blue;
    font-size: 1.1rem;
    font-family: minerva-modern, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

#carpentry {
    display: inline-block;
    margin: 10px;
    margin-left: 87px;
}

#gaming,
#parenting {
    display: inline-block;
    margin: 10px;
    margin-top: 0px;
    margin-left: 240px;
}

#gaming {
    margin-left: 241px;
    position: inherit;
}

#activities {
    vertical-align: middle;
    max-width: 22%;
    margin-right: 10px;
    position: inherit;
}

#close {
    display: inline-block;
    margin-top: 1%;
    margin-left: 25%;
    font-family: quasimoda-2, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

#close:hover,
.closeDetails:hover {
    color: rgb(129, 130, 129);
}

#otherInterests {
    display: inline-block;
    margin-left: 39%;
}

.projectDesc {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    text-align: left;
}

.projectButton {
    display: inline-block;
    margin-top: 0px;
    padding: .5rem;
    font-size: 1rem;
    margin-left: calc(37% - 100px);
}

.clickforDemo {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-size: 1.5rem;
}

.clickforDemo:hover {
    color: white;
}

.closeDetails {
    display: inline-block;
    margin-top: 1%;
    margin-left: 90%;
    font-family: quasimoda-2, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

@media screen {
    .closeDetails {
        margin-left: 80%;
    }
}

@media screen and (max-width: 1030px) {
    h2 {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 2.375rem;
    }
    .whoAmI {
        margin-top: 2rem;
    }
    p {
        font-size: 1rem;
        margin: 2rem;
        margin-top: .25rem;
    }
    button {
        max-width: 10.625rem;
        font-size: 1rem;
        margin-left: 36%;
    }
    .generalDescription {
        margin: auto;
        max-width: 93%;
        padding-top: 1rem;
        height: 25.9375rem;
    }
    .videoContainer {
        margin: 0;
        margin-left: 2%;
        margin-top: 8%;
        max-width: 44%
    }
    .hobbies {
        max-width: 73%;
    }
    .hobbies video {
        max-width: 12.375rem;
    }
    footer {
        margin-top: 90%;
    }
    .footerExpanded {
        margin-top: 128%
    }
    .projects {
        height: 55em;
    }
    .projectsExpanded {
        height: 68.25em;
    }
    #otherInterests {
        margin-left: 31%;
    }
    #close {
        margin-left: 15%;
    }
    #building {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #parentingPic {
        margin: 0;
        margin-left: 3%;
    }
    #carpentry {
        margin-left: 2.625rem;
    }
    #gaming {
        margin-left: 6.5rem;
    }
    #parenting {
        margin-left: 6.4rem;
    }
}

@media screen and (aspect-ratio: 1024/1366) {
    .projects {
        height: 71em;
    }
    .projectsExpanded {
        height: 72em;
    }
    .footerExpanded {
        margin-top: 91%;
    }
    .hobbies video {
        max-width: 17.375rem;
    }
    #carpentry {
        margin-left: 4.625rem;
    }
    #gaming,
    #parenting {
        margin-left: 10.5rem;
    }
    #otherInterests {
        margin-left: 37%;
    }
}

@media screen and (aspect-ratio: 1366/1024) {
    .hobbies video {
        max-width: 20.7rem;
    }
    .videoContainer {
        margin-left: 2%;
        max-width: 45%;
    }
    .projects {
        height: 83em;
    }
    .projectsExpanded {
        height: 87em;
    }
    footer {
        margin-top: 82%;
    }
    .footerExpanded {
        margin-top: 87%;
    }
    #gaming {
        margin-left: 13.9375rem;
    }
    #parenting {
        margin-left: 13.75rem;
    }
}

@media screen and (aspect-ratio: 1024/768) {
    .projects {
        height: 71em;
    }
    .footerExpanded {
        margin-top: 90%;
    }
}

@media screen and (aspect-ratio: 768/1024) {
    .projectsExpanded {
        height: 78.25rem;
    }
    .footerExpanded {
        margin-top: 134%;
    }
}

@media screen and (aspect-ratio: 736/414) {
    .footerExpanded {
        margin-top: 144%;
    }
    .projects {
        height: 55.25em;
    }
    .projectsExpanded {
        height: 79.25em;
    }
    /* footer {
        margin-top: 90%;
    } */
}

@media screen and (max-width: 720px) {}

@media screen and (max-width: 667px) {
    h2 {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 2.75rem;
    }
    p {
        font-size: .7rem;
    }
    button {
        max-width: 10.625rem;
        font-size: 1rem;
        margin-left: 33%;
    }
    img {
        max-width: 75%;
    }
    .items {
        margin-top: 10%;
        width: 75%;
    }
    .contact {
        margin-top: 0;
    }
    .hobbies {
        max-width: 80%;
    }
    .generalDescription {
        height: 22rem;
    }
}

@media screen and (max-width: 480px) {
    p {
        font-size: .7rem;
        margin: 1rem;
        margin-top: 0;
    }
    .items {
        margin: auto;
        width: 19.5rem;
        margin-top: 4.5rem;
    }
    img {
        max-width: 19.5rem;
    }
    .whoAmI {
        margin-top: 1rem;
    }
    .generalDescription {
        max-width: 93%;
        padding: 1rem;
        height: 17.1875rem;
    }
    .alexa {
        height: 10.5rem;
    }
    h2 {
        font-size: 1rem;
    }
    h1 {
        font-size: 1.4rem;
    }
    button {
        max-width: 7.625rem;
        font-size: .7rem;
        margin-top: 1.5rem;
    }
    ul {
        margin-left: 5%
    }
    li {
        font-size: .7rem;
    }
    footer {
        margin-top: 113%;
    }
    .footerExpanded {
        margin-top: 195%;
    }
    .hobbies {
        max-width: 80%;
    }
    .hobbies video {
        max-width: 121px;
        margin-left: 3%;
    }
    .videoContainer {
        max-width: 32%;
        margin-top: 6%;
        margin-left: 4%;
    }
    .projects {
        height: 29em;
    }
    .projectsExpanded {
        height: 51em;
    }
    .projectDiv {
        margin-top: 5%;
        margin-left: 2%;
        width: 55%;
    }
    .projectDesc {
        font-size: .7rem;
        margin: 0;
    }
    .projectDetails {
        padding: 1px;
    }
    #projects h1 {
        font-size: 1.5rem;
    }
    .projectButton {
        margin-top: 2%;
        margin-left: 0;
        padding: 1%;
        font-size: .5rem;
    }
    .projectDetails p {
        margin: .5rem;
    }
    .videoClickP {
        margin: 0;
    }
    .clickforDemo {
        font-size: .7rem;
    }
    .closeDetails {
        font-size: .7rem;
    }
    #otherInterests {
        margin-left: 29%
    }
    #close {
        font-size: .7rem;
        margin-left: 10%;
    }
    #projects {
        margin-top: 6%;
    }
    #alexaDescription {
        margin: 1.5rem;
    }
    #alexaDescription a,
    #alexaTry {
        font-size: .7rem;
    }
    #alexaImg {
        margin-top: .5rem;
    }
    #building,
    #parentingPic {
        margin: 0px;
        margin-left: 2.5%;
    }
    #carpentry,
    #gaming,
    #parenting {
        font-size: .7rem;
        margin: 5px;
    }
    #carpentry {
        margin-left: 1rem;
    }
    #gaming {
        margin-left: 3.5rem;
    }
    #parenting {
        margin-left: 4rem;
    }
}

@media screen and (max-width: 378px) {
    h2 {
        font-size: 1rem;
    }
    h1 {
        font-size: 1.7rem;
    }
    .items {
        max-width: 23.5rem;
        margin-top: 4.5rem;
    }
    .hobbies video {
        max-width: 110px;
    }
    .generalDescription {
        max-width: 22.6rem;
        padding: 1rem;
    }
    footer {
        margin-top: 130%;
    }
    .footerExpanded {
        margin-top: 225%;
    }
    #otherInterests {
        margin-left: 27%;
    }
    #close {
        margin-left: 6%;
    }
    #gaming {
        margin-left: 2.5rem;
    }
    #parenting {
        margin-left: 20%;
    }
}

@media screen and (aspect-ratio: 320/568) {
    img {
        max-width: 70%;
    }
    h1 {
        font-size: 1rem;
    }
    p {
        margin: 1rem;
        margin-top: .5rem;
    }
    .items {
        display: block;
        margin: auto;
        margin-top: 13%;
        width: 70%;
    }
    .hobbies {
        max-width: 82%;
        margin-top: -40px;
    }
    .hobbies video {
        max-width: 91px;
    }
    #otherInterests {
        margin-left: 14%;
    }
    #newspaperPic {
        width: 25%;
    }
    #hobbiesButton {
        margin-top: 1.2rem;
        padding: .25rem;
    }
    #carpentry {
        margin-left: .7rem;
    }
    #gaming {
        margin-left: 2rem;
    }
    #parenting {
        margin-left: 13%;
    }
    .videoContainer {
        display: block;
        margin: auto;
        margin-top: 5%;
        max-width: 65%;
    }
    .projectDiv {
        margin: auto;
        display: block;
        margin-top: 2%;
        width: 65%;
    }
    .projectDiv button {
        margin: auto;
        margin-top: 1%;
        display: block;
    }
    .projects {
        height: 41em;
    }
    .projectsExpanded {
        height: 68em;
    }
    footer {
        margin-top: 206%;
    }
    .footerExpanded {
        margin-top: 342%;
    }
}

@media screen and (aspect-ratio: 568/320) {
    h1 {
        font-size: 1.5rem;
    }
    .hobbies video {
        max-width: 10.4rem;
    }
    #otherInterests {
        margin-left: 23%;
    }
    #building {
        margin-right: .5rem;
    }
    #parentingPic {
        margin-left: 2%;
    }
    #carpentry {
        margin-left: 2rem;
    }
    #gaming {
        margin-left: 4.5rem;
    }
    #parenting {
        margin-left: 4.4rem;
    }
    .videoContainer {
        display: block;
        margin: auto;
        margin-top: 5%;
        max-width: 55%;
    }
    .projectDiv {
        display: block;
        margin: auto;
        margin-top: 0;
        width: 65%;
    }
    .projectDiv p {
        margin: 0;
        font-size: 1rem;
    }
    .projectDiv button {
        margin: auto;
        margin-top: 1%;
        display: block;
    }
    .projects {
        height: 65em;
    }
    .projectsExpanded {
        height: 96em;
    }
    footer {
        margin-top: 137%;
    }
    .footerExpanded {
        margin-top: 224%;
    }
}