<main>
    <!-- <img src="assets/images/IMG_0843.jpg" alt=""> -->
    <div class="items">
        <!-- <h2>Welcome to my website!</h2>
        <h2>I am</h2> -->
        <h1>Welcome to my website!</h1>
    </div>
    <img src="assets/images/IMG_3222.jpg" alt="">
    <div class="whoAmI">
        <h1>Who Am I?</h1>
    </div>
    <div class="generalDescription">
        <p>I'm a <em>Software Engineer</em> with a dedicated focus toward <em>Responsive Web Design & Web Development</em>. I have a comprehensive background and experience with the <em>Python & MEAN</em> full stacks, a proven ability to develop skills quickly,
            and a desire to continue to learn. I'm also a dedicated volunteer with a passion, and a belief in, helping and understanding others.
        </p>
        <img id="newspaperPic" src="assets/images/yc_hk Newspaper pic.jpg" alt="">
        <button id="hobbiesButton" style="cursor:pointer" [@myAnimationButton]='state' (click)="animate()">What do I do when I'm not coding?</button>
        <div [@myAnimation]='state' class="hobbies" (click)="animate()">
            <h2 id="otherInterests"> My other passions</h2>
            <h3 style="cursor:pointer" id="close">Close X</h3>
            <p>click to explore further</p>
            <a style="cursor:pointer"><img (click)="carpentry()" id="building" src="assets/images/IMG_0534.jpg" alt=""></a>
            <!-- <a style="cursor:pointer"><img (click)="gaming()" id="gamingPic" src="assets/images/IMG_0334.jpg" alt=""></a> -->
            <!-- <a style="cursor:pointer"><video loop autoplay> <source src="/assets/videos/Chess_Play.mp4"></video></a> -->
            <!-- <a style="cursor:pointer"><video (click)="gaming()" loop autoplay> <source src="/assets/videos/Chess_Play_color.mp4"></video></a> -->
            <a style="cursor:pointer"><video (click)="gaming()" loop autoplay> <source src="/assets/videos/Chess gamplay color low.mp4"></video></a>
            <a style="cursor:pointer"><img (click)="parenting()" id="parentingPic" src="assets/images/IMG_1370.jpg" alt=""></a>
            <a id="carpentry" (click)="carpentry()" style="cursor:pointer">Carpentry</a>
            <a id="gaming" (click)="gaming()" style="cursor:pointer">Gaming</a>
            <a id="parenting" (click)="parenting()" style="cursor:pointer">Parenting</a>
        </div>
    </div>
    <div [@slideAnimation]='state' class="alexa">
        <p id="alexaDescription">Technology has always been a passion of mine, as part of the <a href="http://mashable.com/2015/05/21/oregon-trail-generation/#USjHIA4YEPq9">"Oregon Trail Generation"</a>, I grew up playing the popular video game, and I recall, trying to code my
            own version of it. The enjoyment of playing that game, and the satisfaction of seeing my code actually do what I exepected it to do, (eg. coding my name in BASIC to scroll diagonally across the screen), lead me into Software Development. I
            continue to have that passion and I'm able to express it and find those, "that's cool!" moments, through web design and development.
        </p>
        <div class="projects">
            <h1 style="color:rgb(63, 64, 66)">Recent Projects</h1>
            <div class="videoContainer">
                <div class="videoBikes">
                    <video style="cursor:pointer" id="bikeDemo" loop autoplay><a href="http://www.mybikemarket.net"></a> <source src="assets/videos/Bicycle Marketplace demo.mp4"></video>
                    <h2 style="cursor:pointer"><a href="http://www.mybikemarket.net">Click To Try Me!</a></h2>
                </div>
                <p id="bikeClickP" style="cursor:pointer"><a id="clickforDemo" href="http://www.mybikemarket.net">Click for a Demo!</a></p>
            </div>
            <div class="bikeDemoP">
                <p id="bikeP">Bicycle Marketplace - Bulletin board type web application that lets users view and post bicycle ads. Secure login and registration with password validation and encryption.</p>
                <button style="cursor:pointer" (click)="showBikeDetails()" id="bikeDemoButton">More Details</button>
                <div *ngIf="showbikeDetails" class="bikeDetails" (click)="showBikeDetails()">
                    <h3 style="cursor:pointer" id="closeBike">Close X</h3>
                    <p sytle="color:white">This application incorporates image download, form validation, password encyrption, session and cookie manipulation, and advanced search funcionalities. Built using:</p>
                    <ul>
                        <li>Angular 4.4.6</li>
                        <li>Nodejs 5.4.0</li>
                        <li>Mongoose 4.11.4</li>
                        <li>Express 4.13.4</li>
                    </ul>
                </div>
            </div>
            <a href="https://www.amazon.com/hiramk-Heres-a-Fun-Fact/dp/B072MVZJ7G/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1508476774&sr=1-1&keywords=here%27s+a+fun+fact"><img id="alexaImg" src="assets/images/AlexaSkill.png" alt=""> Try My Alexa Skill!</a>
        </div>
    </div>
    <footer [@footerAnimation]='state'></footer>
</main>